<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Beauty</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


     <style>
        .header {
            background: #003267;
            background: linear-gradient(to right, #011329 0%,#00639e 44%,#011329 100%);
             padding: 20px 10px; 
            color: white !important;
            
        }
        .nav-link-color {
            color: #ffffff !important;
        }
    
    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg header nav-link-color">

    <a class="navbar-brand" href="@Url.Action("Index","Home")">My Appointments</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-autok">
           <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Employees")">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ProjectHours","EmployeeProjects")">Project Hours</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Clients")">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Projects")">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","EmployeeProjects")">Time Sheet</a>
            </li>
        </ul>
    </div>

</nav> 
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Beauty Salon</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
